<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pruebas</title>
    <style>
      #nombre {
        color: brown;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>INFORMACIÓN DE LA PROPUESTA</h1>
    </center>
    <h1> CÓDIGO PROPUESTA: {{id}} </span>
    <h1> TITULO: {{titulo}} </span>
    <h1> FACULTAD: {{facultad}} </span>
    <h1> TIPO PUBLICACIÓN: {{tipo_publicacion}} </span>
    <h1> AREAS: {{area}} </span>
    <h1> RESEÑA: {{resenia_autores}} </span>
    <h1> RESUMEN: {{resumen}} </span>
    <h1> ASPECTOS NOVEDOSOS: {{aspectos_novedosos}} </span>
    <h1> CONTRIBUCION: {{contribucion_area}} </span>
    <h1> PUBLICO OBJETIVO: {{publico_objetivo}} </span>
    <h1> DATOS ASOCIADOS: {{datos_proyecto_asociado}} </span>
    <h1> FORMA JUSTA: {{forma_ajusta_mision_udem}} </span>
    <h1> OBSERVACIONES: {{observaciones_finales}} </span>
  </body>
</html>