<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pruebas</title>
    <style>
      #nombre {
        color: brown;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>Reporte de pruebas</h1>
    </center>
    <span id="nombre"> {{id}} </span>
    <span id="nombre"> {{area}} </span>
    <span id="nombre"> {{aspectos_novedosos}} </span>
    <span id="nombre"> {{contribucion_area}} </span>
    <span id="nombre"> {{datos_proyecto_asociado}} </span>
    <span id="nombre"> {{facultad}} </span>
    <span id="nombre"> {{forma_ajusta_mision_udem}} </span>
    <span id="nombre"> {{observaciones_finales}} </span>
    <span id="nombre"> {{publico_objetivo}} </span>
    <span id="nombre"> {{resenia_autores}} </span>
    <span id="nombre"> {{resumen}} </span>
    <span id="nombre"> {{tipo_publicacion}} </span>
    <span id="nombre"> {{titulo}} </span>
    <table>
      <thead>
        <tr>
          <td>ID</td>
        </tr>
      </thead>
      <tr>
        <td>id</td>
      </tr>
    </table>
  </body>
</html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pruebas</title>
    <style>
      #nombre {
        color: brown;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>Reporte de pruebas</h1>
    </center>
    <span id="nombre"> {{nombre}} </span>

    <ul class="people_list">
      {{#each people}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    <table>
      <thead>
        <tr>
          <td>ID</td>
        </tr>
      </thead>
      <tr>
        <td>id</td>
      </tr>
    </table>
  </body>
</html>